name: Continuous Integration

on:
  workflow_dispatch:
  push:

env:
  CARGO_TERM_COLOR: always

jobs:

  test:

    name: Rust ${{matrix.rust}}

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        rust: [1.56.1, stable]

    steps:

      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{matrix.rust}}
          components: rustfmt, clippy

      - run: cargo fmt --verbose --all -- --check

      - run: cargo clippy --all --all-features --all-targets -- -D warnings

      - run: cargo test --verbose
