name: Continuous Integration

on:
  workflow_dispatch:
  push:

jobs:

  main_stable:
    name: Rust stable
    uses: ./.github/workflows/_build.yml
    with:
      rust_toolchain: stable
      with_rustfmt: true
      with_clippy: true
      with_audit: true

  main_1_56_1:
    name: Rust 1.56.1
    uses: ./.github/workflows/_build.yml
    with:
      rust_toolchain: 1.56.1
      rust_features: --features msrv
      pre_build_script: ./scripts/msrv_pin_dependencies.sh

  main_nightly:
    name: Rust nightly
    uses: ./.github/workflows/_build.yml
    with:
      rust_toolchain: nightly

  cross_stable_i686:
    name: Rust stable i686-unknown-linux-gnu
    uses: ./.github/workflows/_cross_build.yml
    with:
      target: i686-unknown-linux-gnu
      rust_toolchain: stable

  cross_stable_aarch64:
    name: Rust stable aarch64-unknown-linux-gnu
    uses: ./.github/workflows/_cross_build.yml
    with:
      target: aarch64-unknown-linux-gnu
      rust_toolchain: stable

  cross_1_79_0_i686:
    name: Rust 1.79.0 i686-unknown-linux-gnu
    uses: ./.github/workflows/_cross_build.yml
    with:
      target: i686-unknown-linux-gnu
      rust_toolchain: 1.79.0
      pre_build_script: ./scripts/cross_msrv_pin_dependencies.sh

  cross_1_79_0_aarch64:
    name: Rust 1.79.0 aarch64-unknown-linux-gnu
    uses: ./.github/workflows/_cross_build.yml
    with:
      target: aarch64-unknown-linux-gnu
      rust_toolchain: 1.79.0
      pre_build_script: ./scripts/cross_msrv_pin_dependencies.sh

